html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

body {
  font-size: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mdl-grid {
  display: flex;
  flex: 1 1 auto;
  margin: 3rem 0;
}

.mdl-grid .mdl-cell--8-col canvas {
  margin-right: 1rem;
}

.mdl-grid .mdl-cell--4-col {
  display: flex;
  justify-content: flex-end;
  padding-left: 3rem;
}

h4.placard-title {
  font: normal 500 1rem/1.7rem Inter, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  margin-bottom: 0.4rem;
}

p.placard {
  font: normal 400 1.0rem/1.7rem Inter, sans-serif;
  letter-spacing: 0.02rem;
  margin: 0.5rem 0;
}