.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}
.header h1 {
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.09em;
  margin-bottom: 1rem;
}
.header p {
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  margin: 0;
}

.footer {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.65rem;
  opacity: 0.45;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
